.tableStyle{
  border-collapse: collapse;
}

.rowStyle{
  width: 150px;
}

.deleteButtonStyle{
  padding: 10px;
  margin: 5px 10px;
  background-color: #f88d7a;
}

.addButtonStyle{
  padding: 10px;
  margin: 5px 10px;
  background-color: #a8e1f8;
}

.textBoxStyle{
  margin: 10px,
}
